<footer class="footer footer-center p-10 rounded text-white font-normal" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="grid grid-flow-col gap-4">
        <a href="/main" class="link link-hover">Main</a> 
        <a href="/commands" class="link link-hover">Commands</a> 
        <a href="/contact" class="link link-hover">Contact</a> 
        <a href="/api/bot/invite" target="_blank" class="link link-hover">Invite</a>
    </div> 
    <div>
        <div class="grid grid-flow-col gap-4">
            <a href="https://github.com/ImJustNon" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a> 
            <a href="https://www.youtube.com/channel/UCCAlDdKswolIsOERlt0QWbw" target="_blank"><i class="fa-brands fa-youtube fa-2x"></i></a> 
            <a href="https://twitter.com/NoNnYhA55" target="_blank"><i class="fa-brands fa-x-twitter fa-2x"></i></a>
        </div>
    </div> 
    <div>
        <p>Copyright © <span id="text_copyright_year"></span> - <a class="text-black" target="_blank" href="https://bio.nonlnwza.xyz">Nonlnwza.xyz</a></p>
    </div>
</footer>


<script>
    const text_copyright_year = document.getElementById("text_copyright_year");
    text_copyright_year.innerHTML = new Date().getFullYear();
</script>