<main class="my-20">
    <div class="p-5 text-center">
        <h2 class="mb-3 text-3xl">Commands</h2>
        <p class="mb-3 text-xl">🤤 คำสั่งบอททั้งหมด 🤤</p>
    </div>
    
    <div class="container mx-auto">
        <section class="text-center">

            <hr />

            <input type="text" placeholder="ค้นหาคำสั่ง" class="input input-bordered bg-white/75 w-full max-w-xs my-10 bg-slate-100 text-center" id="input_search_command" />

            <div class="grid grid-cols-1 gap-3 place-items-center md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5" id="commands_grid">  
            </div>

        </section>
    </div>
</main>

<script src="/js/commands_script.js"></script>