<main>
    <section class="container mx-auto">
        <div class="hero min-h-screen">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-white/75">
                    <div class="card-body">
                        <div class="form-control mx-10 my-10">
                            <a class="btn btn-primary" href="/api/auth/discord"><i class="fa-brands fa-discord"></i> Login With Discord</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>