<main>
    <section class="container mx-auto">
        <div class="hero min-h-screen ">
            <div class="hero-content flex-col lg:flex-row-reverse">
                <img src="/assets/images/profile_normal.jpg" class="max-w-sm rounded-3xl shadow-2xl" />
                <div>
                    <p><span class="text-5xl font-bold">Mori・Erika ✨#6963</span><span class="text-lg font-normal">(Discord.js v.14)</span></p>
                    <p class="py-6">เอริกะเป็น บอท ที่สามารถจัดการเซิฟเวอร์ดิสคอร์ดของคุณ พร้อมกับหน้าต่างจัดการที่ใช้งานง่าย เเละ ฟังก์ชั่นอีกมากมายให้ได้ลอง </p>
                    <a class="btn btn-success" href="/api/bot/invite" target="_blank"><i class="fa-solid fa-user-plus"></i> Invite Me Now</a>
                </div>
            </div>
        </div>
    </section>
</main>
